:root {
    --header-text-color:#212121;
    --footer-background-color: #f2f2f2;
    --footer-text-color: #76787b;
    --footer-border-color: #e1e3e5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    height: 99.9vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* ESTILOS DEL HEADER */
header {

}
#header-nav-ul {
    padding: 0.6rem;
    height: 6rem;
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-nav-ul__item a{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--header-text-color);
}
.header-nav-ul__item a:hover {
    text-decoration: underline;
  }
#header-gmail {
    padding: 0px 1.5rem;
}
#header-images{
    padding: 0 1.5rem 0 0;
}
#header-apps {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
}
#header-account img {
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1.2rem;
}
#header-apps:hover, #header-account:hover {
    
}
/* ESTILOS DE LA SECCIÓN PRINCIPAL */
/* Medida de la página original
height total: 599px
logo: 194.4px (33%)
searchbar and buttons: 160px (27%)
language: 244.6px (40) */

main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30.4rem;
}

/* LOGO */
#main-logo {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#main-logo-img {
    width: 40vw;
    max-width: 272px;
}

/* BARRA Y BOTONES */
#main-bar_and_buttons {
    height: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-buttons {
    display: flex;
}

/* LANGUAGE */
#main-language_selector {
    height: 40%;
    display: flex;
    justify-content: center;
}
#main-language_selector p {
    font-size:1.3rem ;
}

/* ESTILOS DEL FOOTER */
footer {
    width: 100vw;
}
#footer_2, #footer_1 {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-background-color);
    border: var(--footer-border-color) 1px solid;
    height: 4.76rem;
}
#footer_1 {
    border-top: none;
}
#footer_2 nav ul {
    list-style: none;
    display: flex;
}
.footer_1__item, .footer_2-rigth_nav__item a, .footer_2-left_nav__item a {
    font-size: 1.4rem;
    color: var(--footer-text-color);
    text-decoration: none;
}
.footer_1__item {
    font-size: 1.5rem;
}
.footer_2-rigth_nav__item a:hover, .footer_2-left_nav__item a:hover {
    text-decoration: underline;
}
footer li {
    padding: 1.5rem;
}
footer p{
    padding: 1.5rem 1rem;
}

  /* MEDIA QUERIES */